@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@400&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #3c3a39;
  color: #fff;
  padding: 1rem;
  height: 10vh;
}

.nav {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h3 {
  font-family: 'Poppins', sans-serif;
}

.nav img {
  margin-right: 1.3rem;
}

.intro {
  background-color: #1c1a19;
  padding: 1.4rem;
  height: 90.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me {
  background-color: #1c1a19;
  padding: 1.4rem;
  height: 110vh;
}

footer ul {
  width: 50%;
  margin: 2rem auto 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro h3,
.about-me h3 {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  color: #fff5e1;
  margin: 0.5rem 0 0.5rem;
}

.about-me h3 {
  color: #fff;
}

.intro h1,
.about-me h1 {
  font-family: 'Crete Round', sans-serif;
  color: #ff6b00;
  font-size: 3rem;
  font-weight: lighter;
}

.about-me h1 {
  font-size: 4rem;
  margin-top: 5rem;
}

.intro p,
.about-me p {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  color: #dbd8d7;
  line-height: 1.5;
  margin: 0.5rem 0 0.5rem;
}

.intro ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  margin: 1rem;
}

li {
  list-style: none;
}

.illustration-one {
  position: absolute;
  top: 55.5%;
  right: 0;
}

.illustration-two {
  position: absolute;
  right: 0;
}

/* part 2 */

.section-cover {
  background-color: #1c1a19;
}

.section-two {
  padding: 1.5rem;
}

.works {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works h2 {
  font-size: 2.5rem;
  font-family: 'Crete Round', sans-serif;
  font-weight: lighter;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.multi-post h3 {
  font-family: 'Crete Round', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

.multi-post p {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: 15.5px;
  line-height: 1.5;
  margin: 0.5rem 0 0.5rem;
}

.skills {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills li {
  padding: 0.5rem 0.6rem;
  border: 1px solid #3c3a39;
}

.btn-cover {
  margin: 1.5rem 0;
}

#btn {
  width: 40vw;
  letter-spacing: 0.8px;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  background-color: #ff6b00;
  color: #fff;
  padding: 0.7rem 1rem;
  text-decoration: none;
}

.div {
  margin-top: 2rem;
}

.tools li {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  font-size: larger;
}

#projects {
  display: flex;
  flex-direction: column;
}

.project {
  height: 60vh;
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url('img/img-blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.8rem;
}

.project h2 {
  color: #fff;
  font-family: 'Crete Round', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  margin: 3rem 0 1rem 0;
}

.project ul li {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: large;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.project p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.project ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

#full-btn {
  width: 100%;
  letter-spacing: 0.8px;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  background-color: #ff6b00;
  color: #fff;
  padding: 1rem 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: #1c1a19;
  margin: 0 2rem 5rem 2rem;
}

.section-three {
  background-color: #1c1a19;
  height: 165vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.section-three h3 {
  height: 20%;
}

.square,
.circle,
.lang-bullet {
  display: inline-block;
  background-color: #ff6b00;
  width: 19px;
  height: 19px;
}

.circle {
  border-radius: 50%;
}

.lang-bullet {
  transform: rotate(45deg);
}

.sub-section {
  height: 55vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.sub-section h3 {
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
}

.tools {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-four {
  background-color: #1c1a19;
}

.section-five {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.6rem;
}

.section-five h3 {
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  text-align: center;
  color: #172b4d;
}

form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}

form textarea {
  width: 100%;
  padding: 10px;
  font-size: large;
  font-style: italic;
  border: none;
  background-color: #fbf8f7;
}

form textarea::placeholder {
  color: black;
}

form button {
  margin: 1rem 5.5rem;
  width: 28vw;
  font-size: large;
  border: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dbd8d7;
}

svg path {
  fill: #505f79;
}

/* Mobile version finish */

@media (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
  }

  .none {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  footer ul {
    width: 15%;
    margin: 2.6rem auto;
  }

  .nav {
    margin: 0.7rem auto;
    width: 80%;
  }

  .nav ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: #fff;
    margin: 0.5rem 0 0.5rem;
  }

  li {
    list-style: none;
  }

  .avatar img {
    width: 52%;
  }

  .intro {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .intro-text {
    width: 60vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .about-me div img {
    position: absolute;
    width: 40%;
    right: 0;
    top: 10%;
  }

  .intro-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .intro-icons li a img {
    width: 1.3rem;
    margin-top: 1rem;
    height: auto;
  }

  .intro ul {
    width: 6rem;
    margin: 0;
  }

  .desktop-illu {
    position: relative;
    width: 50vw;
    height: 109vh;
  }

  .multi-post h3 {
    margin: 0;
    padding: 0;
    color: #172b4d;
    font-size: 2rem;
  }

  .multi-post p {
    color: #172b4d;
    font-size: 1.2rem;
  }

  .section-five h3 {
    width: 38%;
    color: #1c1a19;
    text-align: start;
    line-height: 1.5;
    font-size: 2.5rem;
  }

  .about-me-text p {
    font-size: larger;
  }

  .proj p {
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }

  .intro-text div h1 {
    font-size: 5rem;
  }

  .intro-text div h3 {
    font-size: 2rem;
  }

  .intro-text div p {
    width: 90%;
    margin-top: 1rem;
    font-size: 1.15rem;
  }

  /* intro part finish */

  .works {
    display: flex;
    justify-content: center;
  }

  .works h2 {
    border: none;
  }

  .works hr {
    width: 60%;
    height: 2px;
    margin-top: 3rem;
    background-color: #1c1a19;
  }

  .avatar {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .multi-post {
    width: 43%;
  }

  .skills {
    width: 70%;
  }

  .skills li {
    font-family: 'Poppins', sans-serif;
    padding: 0.4rem 0.7rem;
    border: 1px solid #8993a4;
  }

  #projects {
    margin: 2rem auto 6rem auto;
    width: 85%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .see-project {
    background-image: url(img/img-noblur.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 2px solid black;
  }

  #full-btn {
    position: absolute;
    bottom: 0;
  }

  .section-cover {
    position: relative;
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-three {
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-me {
    height: 80vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-me-text {
    width: 55%;
  }

  .about-me div h1 {
    margin-top: 7.5rem;
  }

  .section-four {
    width: 100%;
    height: 90vh;
  }

  .section-four hr {
    margin: 0 0 5rem 0;
  }

  .section-five {
    height: auto;
    padding: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .section-five form {
    width: 55%;
  }

  .sub-section {
    display: inline;
    margin: 0;
  }

  .tools {
    align-items: start;
  }

  #btn {
    width: 10vw;
    letter-spacing: 0.8px;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    background-color: #ff6b00;
    color: #fff;
    padding: 0.7rem 0.6rem;
    text-decoration: none;
    margin: 1rem 0;
  }

  .proj-1 {
    background-image:
      linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      url('img/img.png');
  }

  .proj-2 {
    background-image:
      linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      url('img/website-blur.png');
  }

  .project {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.8rem;
    background-image:
      linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      url('img/img-blur.png');
  }

  .proj {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.8rem;
  }

  .proj h2 {
    color: #fff;
    font-family: 'Crete Round', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    margin: 6.7rem 0 1rem 0;
  }

  .project h2 {
    margin: 6.7rem 0 1rem 0;
  }

  .proj-2 h2 {
    margin: 9.4rem 0 1rem 0;
  }

  .proj ul li {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: large;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .proj ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .name {
    display: flex;
    justify-content: space-between;
  }

  .name input {
    width: 47%;
  }
}
